<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Flea Commerce</title>
  </head>

  <body>

    <div class="container-fluid bg-black">
      <nav class="container navbar navbar-expand-lg navbar-dark bg-black">

        <a class="navbar-brand" href="#">LOGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {{#if loggedIn}}
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout">Logout</a>

              </li>
            {{else}}
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            {{/if}}
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>
    </div>

    {{#if loggedIn}}
      <div>

      </div>
    {{else}}

      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block jumbo w-100"
              src="images/Jumbotron-Background.jpg"
              alt="img1"
            />
            <div class="carousel-caption d-none d-md-block">
              <h1>FLEA COMMERCE</h1>
              <p>SELL IT ALL-SELL IT HERE</p>
              <a href="/login">
              <button class="btn btn-info btn-lg btn-danger">Login</button>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="d-block jumbo w-100"
              src="images/Jumbotron-Background.jpg"
              alt="Second slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h1>FLEA COMMERCE</h1>
              <p>SELL IT ALL-SELL IT HERE</p>
              <a href="/login">
              <button class="btn btn-info btn-lg btn-danger">Login</button>
              </a>
            </div>
          </div>

        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container-fluid offer pt-3 pb-3 bg-orange d-none d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 m-right">
              <h4>FREE SHIPPING</h4>
              <p>On all orders over $100</p>
            </div>

            <div class="col-md-4 m-right">
              <h4>CALL US ANYTIME</h4>
              <p>732-666-6666</p>
            </div>

            <div class="col-md-4">
              <h4>WE SHIP</h4>
              <p>Anywhere in USA</p>
            </div>
          </div>
        </div>
      </div>

    {{/if}}

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="container-fluid pt-5 pb-5 bg-dark text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <h5>LINKS</h5>
              </div>
              <div class="row mb-6">
                <div class="underline bg-light" style="width: 50px;"></div>
              </div>
              <br>
              <div>
                <a href="/"><i
                    class="fa fa-chevron-right"
                    aria-hidden="true"
                  ></i>Homepage</a>
              </div>
              <br>
              <div>
                <a href="/dashboard"><i
                    class="fa fa-chevron-right"
                    aria-hidden="true"
                  ></i>Dashboard</a>
              </div>
              <br>
              {{#if loggedIn}}
                <div>
                  <a href="/logout"><i
                      class="fa fa-chevron-right"
                      aria-hidden="true"
                    ></i>Logout</a>
                </div>
              {{else}}
                <div>
                  <a href="/login/"><i
                      class="fa fa-chevron-right"
                      aria-hidden="true"
                    ></i>Login</a>
                </div>
              {{/if}}

            </div>

            <div class="col-md-6 pl-4">
              <div class="row">
                <h5>About</h5>
              </div>
              <div class="row mb-4">
                <div class="underline bg-light" style="width: 50px;"></div>
              </div>
              <div class="row">
                <p>We're a free listings marketplace where users can post their own products and buy/sell other vendors. All of our vendors are thoroughly background checked
                  and vetted to carry only the highest quality supply, alongside following all safety standards (Federal, State, and Proprietary). Please feel free to let us know
                  if any products acquired do not meet your standards! Your feedback can only help us improve our service, so please contact us with any questions or concerns you might have.
                </p>
              </div>
            </div>
            {{! 
            <div class="col-md-4">
              <div class="row">
                <h5>Tags</h5>
              </div>
              <div class="row mb-4">
                <div class="underline bg-light" style="width: 50px;"></div>
              </div>
              <button class="btn btn-outline-light">EGGS</button>
              <button class="btn btn-outline-light">CHICKENS</button>
              <button class="btn btn-outline-light">MUSHROOMS</button>
              <button class="btn btn-outline-light">WEIGHTS</button>
              <button class="btn btn-outline-light">WEED</button>
              <button class="btn btn-outline-light">EDIBLES</button>
            </div> }}
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
      integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
      crossorigin="anonymous"
    ></script>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>