<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Dashboard</a>
    <h2 class="title">Create New Product</h2><hr>

    <form class="new-product-form">
        <div>
            <label for="product-name">Name:</label>
            <input class="input" type="text" id="product-title" name="product-title" placeholder="Insert product name here"/>
        </div>
        <div>
            <label for="product-details">Product Details</label>
            <input class="input" type="text" id="product-details" name="product-details" placeholder="Insert product details here"/>
        </div>
         <div>
            <label for="product-price">Product Price</label>
            <input class="input" type="text" id="product-price" name="product-price" placeholder="Insert product price here"/>
        </div>
         <button type="submit" class="button is-primary is-pulled-right">Create Product</button>
  </form>
    </form>
</section>

<script src="/javascript/add-product.js"></script>