<section>
    <a href="/dashboard/" class="is-pulled-right"> &larr; Dashboard</a>
    <h2 class="title">Create New Product</h2><hr>

    <form class="new-product-form">
        <div>
            <label for="product-name">Name:</label>

            <input class="input" type="text" id="product-name" name="product-name" placeholder="Insert product name here"/>

        </div>
        <div>
            <label for="product-details">Product Details</label>
            <input class="input" type="text" id="product-details" name="product-details" placeholder="Insert product details"/>
        </div>
        <div>
            <label for="product-price">Product Price</label>
            <input class="input" type="text" id="product-price" name="product-price" placeholder="Insert product price"/>
        </div>
        <div>
            <label for="stock">Stock</label>
            <input class="input" type="text" id="stock" name="stock" placeholder="Insert product stock"/>
        </div>
        <button type="submit" class="button is-primary is-pulled-right">Create Product</button>
  </form>
</section>

<script src="/javascript/add-product.js"></script>