<div class="column">
<h2 class="title pb-4">Login:</h2><hr>
<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button is-link">Login</button>
    <a href="/signup"><button type="button" class="button is-danger">Signup</button></a>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>